html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* roboto-regular - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* raleway-regular - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v28-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v28-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/raleway-v28-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../fonts/raleway-v28-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-700 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v28-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v28-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v28-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
body {
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-white-color: #ffffff;
  --black-font-color: #212121;
  --accent-color: #2196f3;
  --light-grey-color: #f5f4fa;
  --sec-grey-color: #afb1b8;
  --grey-font-color: #757575;
  --dark-grey-color: #2f303a;
  color: var(--black-font-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
  border: 0;
}

.logo {
  height: auto;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.logo__header {
  color: var(--black-font-color);
}

.logo__footer {
  color: var(--main-white-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--black-font-color);
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--black-font-color);
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.btn {
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: color var(--main-transition), background var(--main-transition);
}

.btn-hero {
  margin-top: 30px;
  padding: 10px;
  min-width: 200px;
}
.btn-hero:hover, .btn-hero:focus {
  cursor: pointer;
  color: var(--accent-color);
  background-color: var(--main-white-color);
}
@media screen and (min-width: 1200px) {
  .btn-hero {
    min-width: 216px;
  }
}

.btn-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 10px;
  transition: fill var(--main-transition), color var(--main-transition), background-color var(--main-transition);
}
.btn-subscribe:hover, .btn-subscribe:focus {
  cursor: pointer;
  background-color: var(--main-white-color);
  color: var(--accent-color);
}
@media screen and (max-width: 1199.5px) {
  .btn-subscribe {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-subscribe {
    margin-left: 12px;
  }
}

.btn-subscribe__text {
  padding-left: 5px;
}

.btn-subscribe__icon {
  fill: var(--main-white-color);
  transition: fill var(--main-transition);
}
.btn-subscribe:hover .btn-subscribe__icon, .btn-subscribe:focus .btn-subscribe__icon {
  fill: var(--accent-color);
}

.btn-submit {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}
.btn-submit:hover, .btn-submit:focus {
  cursor: pointer;
  background-color: #188ce8;
}

.filter-list__btn {
  cursor: pointer;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  border: none;
  background: var(--light-grey-color);
  color: var(--black-font-color);
  transition: background var(--main-transition), color var(--main-transition), box-shadow var(--main-transition);
}
.filter-list__btn:hover, .filter-list__btn:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-icon {
  transition: fill var(--main-transition);
}
.modal-close-btn:hover .close-icon, .modal-close-btn:focus .close-icon {
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity var(--main-transition), visibility var(--main-transition);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
  transition: width var(--main-transition), opacity var(--main-transition), visibility var(--main-transition);
}

.is-hidden .modal {
  width: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.form {
  margin-top: 12px;
}

.form__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--black-font-color);
}

.form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--grey-font-color);
}
.form__label:not(:first-child) {
  margin-top: 10px;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding: 12px 12px 12px 42px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--main-transition);
}
.form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form__icon {
  position: absolute;
  bottom: 20px;
  left: 12px;
  transform: translateY(50%);
  fill: var(--black-font-color);
  transition: fill var(--main-transition);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.user-policy {
  position: relative;
  padding-left: 35px;
  width: 425px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-font-color);
}

.user-policy__text {
  display: flex;
}

.user-policy__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.user-policy__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: var(--main-white-color);
  border: 2px solid var(--black-font-color);
  border-radius: 2px;
  transition: border var(--main-transition), background-color var(--main-transition);
}
.user-policy__checkbox:checked + .user-policy__icon {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.user-policy__link {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.btn-submit-wrap {
  text-align: center;
}

.soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.soc-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--sec-grey-color);
  background-color: var(--main-white-color);
  transition: background-color var(--main-transition), fill var(--main-transition);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
  fill: var(--main-white-color);
}

.soc-list__link--dark {
  fill: var(--main-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--main-transition);
}
.soc-list__link--dark:hover, .soc-list__link--dark:focus {
  background-color: var(--accent-color);
}

.header {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: solid 1px #ececec;
}

.header__wrap {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  width: 281px;
  margin-left: 93px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--black-font-color);
  transition: color var(--main-transition);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

.header__link--current {
  color: var(--accent-color);
}
.header__link--current::after {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-contacts {
  display: flex;
  align-items: center;
  padding-left: 318px;
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-font-color);
  fill: var(--grey-font-color);
  transition: color var(--main-transition), fill var(--main-transition);
}
.header-contacts__link:last-child {
  margin-left: 30px;
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
}

.footer {
  background: var(--dark-grey-color);
}
@media screen and (min-width: 480px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer__wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
@media screen and (max-width: 767.5px) {
  .footer__wrap {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    flex-wrap: wrap;
    -moz-column-gap: 165px;
         column-gap: 165px;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    justify-content: start;
    -moz-column-gap: 0;
         column-gap: 0;
  }
}

.footer__address-wrap {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1199.5px) {
  .footer__address-wrap {
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address-wrap {
    width: 231px;
  }
}

.footer__address {
  margin-top: 20px;
}

.footer__list {
  margin-top: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__list {
    margin-top: 9px;
  }
}

.footer__contacts:last-of-type {
  margin-top: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__contacts:last-of-type {
    margin-top: 9px;
  }
}

.footer__mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--main-transition);
}
.footer__mail:hover, .footer__mail:focus {
  color: var(--accent-color);
}

.footer__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--main-transition);
}
.footer__tel:hover, .footer__tel:focus {
  color: var(--accent-color);
}

.footer__address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-white-color);
  transition: color var(--main-transition);
}
.footer__address-link:hover, .footer__address-link:focus {
  color: var(--accent-color);
}

.footer__social-wrap {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer__social-wrap {
    display: flex;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social-wrap {
    margin-left: 70px;
    text-align: start;
  }
}

.footer__social-wrap > .soc-list {
  margin-top: 20px;
}

.footer__appeal {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

@media screen and (max-width: 1199.5px) {
  .footer__subscribe-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-wrap {
    margin-left: auto;
  }
}

.footer__subscribe {
  display: flex;
  margin-top: 20px;
  width: 100%;
}
@media screen and (max-width: 1199.5px) {
  .footer__subscribe {
    flex-direction: column;
    align-items: center;
  }
}

.footer__subscribe-input {
  height: 50px;
  padding-left: 16px;
  width: 100%;
  color: var(--main-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-input {
    width: 358px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--dark-grey-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
}

.hero__wrap {
  max-width: 696px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 1199.5px) {
  .hero__wrap {
    max-width: 360px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    flex-wrap: nowrap;
  }
}

.benefits__item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .benefits__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__item-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--light-grey-color);
}

.benefits__item-title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-font-color);
}
@media screen and (max-width: 767.5px) {
  .benefits__item-title {
    text-align: center;
  }
}

.benefits__item-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-font-color);
}

.business {
  padding-top: 0;
}
@media screen and (max-width: 1199.5px) {
  .business {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
    border: 0;
  }
}

.business__list {
  display: flex;
  margin-top: 50px;
}

.business__item {
  position: relative;
}
.business__item:not(:first-child) {
  margin-left: 30px;
}

.business__item-text {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background: var(--light-grey-color);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
    margin-top: 50px;
  }
}

.team__item {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-white-color);
}
@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__text-wrap {
  padding: 30px 0;
}

.team__member-title,
.team__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__member-title {
  font-weight: 500;
  color: var(--black-font-color);
}

.team__text {
  margin-top: 10px;
  color: var(--grey-font-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
    margin-top: 50px;
  }
}

.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--sec-grey-color);
  fill: var(--sec-grey-color);
  transition: border-color var(--main-transition), fill var(--main-transition);
}
.clients__item:hover .clients__link, .clients__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.filter-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 15px;
}
@media screen and (max-width: 767px) {
  .filter-list {
    width: 326px;
  }
}
@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    margin-top: 50px;
  }
}

.portfolio__item {
  width: 100%;
  background: var(--main-white-color);
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__image-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__text-wrap {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-font-color);
}

.portfolio__item-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey-font-color);
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow var(--main-transition);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__overlay {
  position: absolute;
  top: 100%;
  left: 0;
  display: inline-block;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--main-transition);
}
.portfolio__link:hover .portfolio__overlay, .portfolio__link:focus .portfolio__overlay {
  transform: translateY(-100%);
}/*# sourceMappingURL=main.css.map */