.footer {
  background: var(--dark-grey-color);

  @media screen and (min-width: $mobile) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer__wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // padding-right: 15px;
  // padding-left: 15px;
  // margin: 0 auto;
  text-align: center;

  @media screen and (max-width: calc($tablet  - 0.5px)) {
    flex-direction: column;
  }

  @media screen and (min-width: $tablet) {
    flex-wrap: wrap;
    column-gap: 165px;
    align-items: baseline;
  }

  @media screen and (min-width: $desktop) {
    justify-content: start;
    column-gap: 0;
    text-align: start;
  }
}

.footer__address-wrap {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: calc($desktop - 0.5px)) {
    align-items: center;
  }
  @media screen and (min-width: $desktop) {
    width: 231px;
  }
}

.footer__address {
  margin-top: 20px;
}

.footer__list {
  margin-top: 8px;

  @media screen and (min-width: $desktop) {
    margin-top: 9px;
  }
}

.footer__contacts:last-of-type {
  margin-top: 8px;

  @media screen and (min-width: $desktop) {
    margin-top: 9px;
  }
}

.footer__mail {
  @include fontSet(null, $lh: 1.71);

  color: rgba(255, 255, 255, 0.6);

  transition: color var(--main-transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__tel {
  @include fontSet(null, $lh: 1.71);

  color: rgba(255, 255, 255, 0.6);

  transition: color var(--main-transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__address-link {
  @include fontSet(null, $lh: 1.71);

  text-decoration: none;
  color: var(--main-white-color);

  transition: color var(--main-transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__social-wrap {
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media screen and (max-width: calc($tablet - 1px)) {
    display: flex;
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    text-align: start;
  }
}

.footer__social-wrap > .soc-list {
  margin-top: 20px;
}

.footer__appeal {
  @include fontSet(700, $lh: 1.14);

  text-transform: uppercase;
  color: var(--main-white-color);
}

.footer__subscribe-wrap {
  @media screen and (max-width: calc($desktop - 0.5px)) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: auto;
  }
}

.footer__subscribe {
  display: flex;
  margin-top: 20px;
  width: 100%;

  @media screen and (max-width: calc($desktop - 0.5px)) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__subscribe-input {
  height: 50px;
  padding-left: 16px;
  width: 100%;

  color: var(--main-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @media screen and (min-width: $desktop) {
    width: 358px;
  }
}
