.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

  // @media screen and (min-width: $mobile) {
  //   width: 480px;
  //   // padding: 0;
  // }

  // @media screen and (min-width: $tablet) {
  //   width: 738px;
  // }
  // @media screen and (min-width: $desktop) {
  //   width: 1170px;
  // }
}
