.logo {
  height: auto;
  font-family: "Raleway", sans-serif;
  @include fontSet(700, 24px, 1.17);

  @media screen and (min-width: $desktop) {
    @include fontSet($fw: 700, $fsz: 26px);
  }

  color: var(--accent-color);
}

.logo__header {
  color: var(--black-font-color);
}

.logo__footer {
  color: var(--main-white-color);
}
