.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;

  background: var(--main-white-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  opacity: 1;
  visibility: visible;

  transition: opacity var(--main-transition), visibility var(--main-transition);
}

.mob-menu__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 64px;
}

.menu-close-icon {
  transition: fill var(--main-transition);

  .btn-menu-close:hover &,
  .btn-menu-close:focus & {
    fill: var(--accent-color);
  }
}

.mob-menu__navigation {
}
.mob-menu__nav {
}

.mob-menu__nav-list:not(:first-child) {
  margin-top: 32px;
}

.mob-menu__bottom {
}

.mob-menu__link {
  //   font-family: "Roboto";
  //   font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--black-font-color);

  transition: color var(--main-transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mob-menu__link--current {
  color: var(--accent-color);
}

.mob-menu__contacts {
  display: flex;
  flex-direction: column-reverse;
  //   margin-top: 302px;
}
.mob-menu__contacts-link:last-child {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}
.mob-menu__contacts-link:first-child {
  margin-top: 32px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--grey-font-color);
}
.mob-menu__contacts-icon {
}
.mob-soc-list {
  display: flex;
  margin-top: 64px;
  gap: 20px;

  color: var(--accent-color);
}
.mob-soc-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

// .mob-soc-list__link:not(:first-child)::after {
//   content: "";
//   position: absolute;
//   display: inline-block;
//   bottom: -1px;
//   left: 0;
//   height: 4px;
//   width: 100%;
//   background-color: var(--accent-color);
//   border-radius: 2px;
// }
