.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  @include fontSet(null, 28px, 1.18);
  text-align: center;

  color: var(--black-font-color);

  @media screen and (min-width: $desktop) {
    @include fontSet(null, 36px, 1.16);
    text-align: center;

    color: var(--black-font-color);
  }
}
