.filter-list {
  @include centeredFlex($jc: start, $ai: null);
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 15px;

  @media screen and (max-width: calc($tablet - 1px)) {
    width: 326px;
  }

  @media screen and (min-width: $tablet) {
    justify-content: center;
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;

  margin-top: 30px;
  gap: 30px;

  @media screen and (min-width: $desktop) {
    margin-top: 50px;
  }
}

.portfolio__item {
  width: 100%;

  background: var(--main-white-color);

  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__image-wrap {
  position: relative;

  overflow: hidden;
}

.portfolio__text-wrap {
  flex-grow: 1;
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio__item-title {
  @include fontSet(700, 18px, 2, 00.06em);

  color: var(--black-font-color);
}
.portfolio__item-text {
  margin-top: 4px;

  @include fontSet(null, 16px, 1.88);

  color: var(--grey-font-color);
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;

  transition: box-shadow var(--main-transition);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__overlay {
  position: absolute;
  top: 100%;
  left: 0;

  display: inline-block;
  padding: 63px 24px;
  width: 100%;
  height: 100%;

  @include fontSet(null, 18px, 1.56);

  color: var(--main-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--main-transition);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(-100%);
  }
}
